extends layout

block content

  div(ng-app='tntApp', ng-controller='addressCtrl')

    include top_menu.jade

    .section
      .container
        .row
          .col-md-12
            h1 Ajouter une nouvelle adresse
        .row
          .col-md-6
            form(role='form')
              .form-group
                label.control-label(for='exampleInputEmail1') Nom de l'adresse
                input#exampleInputEmail1.form-control(placeholder='Exemple : Maison', type='email')
              .row
                .col-md-2
                  .form-group
                    label.control-label(for='exampleInputEmail1') Numéro
                    input#exampleInputEmail1.form-control(type='text', value='')
                .col-md-10
                  .form-group
                    label.control-label(for='exampleInputEmail1') Rue
                    input#exampleInputEmail1.form-control(placeholder='Nom de rue', type='email')
              .row
                .col-md-3
                  .form-group
                    label.control-label(for='exampleInputEmail1') CP
                    input#exampleInputEmail1.form-control(type='text', placeholder='Code Postal')
                .col-md-9
                  .form-group
                    label.control-label(for='exampleInputEmail1') Ville
                    input#exampleInputEmail1.form-control(placeholder='Nom de ville', type='text')
              button.btn.btn-block.btn-lg.btn-warning(type='submit', ng-click='checkAddress();') Pré-valider
          .col-md-6
            p {{ confirmedAddress.formattedAddress }}
            img(border='0', ng-src="//maps.googleapis.com/maps/api/staticmap?center={{confirmedAddress.gps.gpsLatitude}},{{confirmedAddress.gps.gpsLongitude}}&markers=color:red%7Clabel:A%7C{{confirmedAddress.gps.gpsLatitude}},{{confirmedAddress.gps.gpsLongitude}}&zoom=12&size=550x200")
            button.btn.btn-block.btn-lg.btn-success(type='submit', id='validateAddress', style='display:none;') Valider
    .section
      .container
        .row
          .col-md-12
            h1 Mes adresses enregistrées
            .row
              .col-md-12
                table.table.table-hover
                  thead
                    tr
                      td Rue
                      td Ville
                      td Code Postal
                      td Pays
                      td
                  tbody
                  tr(ng-repeat='address in addressesList')
                    td {{ address.number }} {{ address.street }}
                    td {{ address.city }}
                    td {{ address.postalCode }}
                    td {{ address.country }}
                    td(ng-click='deleteAddress(address.idAddress);') x

    script(src='/controllers/address.js')