doctype html
html
  head
    title= title

    // Disable le zoom et adapte correctement les tailles sur mobile
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/chosen.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm8MSYj4NiH6UqYOIUKxSpLrnFk-FgCpg&signed_in=true", async='', defer='')
    script(src="/javascripts/chosen.jquery.min.js")
    
  body

    block content
