extends layout

block content

  include top_menu.jade

  div(ng-app='tntApp', ng-controller='tntUpdateProfileCtrl')
    //- var sessionProfile = { firstName: session.user.firstName, lastName: session.user.lastName, birthDate: session.user.birthDate, gender: session.user.gender, email: session.user.email };
    .container-fluid
      h2 Mettre à jour mon profil&nbsp;&nbsp;
        button.btn.btn-success(type='submit', data-toggle='modal', data-target='#update-password-modal') Modifier mon mot de passe
      br

      #profile-alert
      form#profile_form(role='form', ng-submit='updateProfile()')
        .form-group
          label.col-sm-3.control-label(for='profile_email') E-mail
          .col-sm-9
            input#profile_email.form-control(type='email', placeholder='E-mail', ng-init='profileInfo.email=\'' + session.user.email + '\'', ng-model='profileInfo.email')
            br
        .form-group
          label.col-sm-3.control-label(for='profile_firstname') Prénom
          .col-sm-9
            input#profile_firstname.form-control(type='text', placeholder='Prénom', ng-init='profileInfo.firstName=\'' + session.user.firstName + '\'', ng-model='profileInfo.firstName')
            br
        .form-group
          label.col-sm-3.control-label(for='profile_lastname') Nom de famille
          .col-sm-9
            input#profile_lastname.form-control(type='text', placeholder='Nom de famille', ng-init='profileInfo.lastName=\'' + session.user.lastName + '\'', ng-model='profileInfo.lastName')
            br
        .form-group
          label.col-sm-3.control-label(for='profile_birthDate') Date de naissance
          .col-sm-9
            input#profile_birthdate.form-control(type='text', placeholder='JJ/MM/YYYY', ng-init='profileInfo.birthDate=\'' + session.user.birthDate + '\'', ng-model='profileInfo.birthDate')
            br
        .form-group
          label.col-sm-3.control-label Genre
          .col-sm-9
            label.radio-inline
              input(type='radio', name='gender', ng-model='profileInfo.gender',  ng-init='profileInfo.gender=\'' + session.user.gender + '\'', value='M')
              span Homme
            label.radio-inline
              input(type='radio', name='gender', ng-model='profileInfo.gender', value='F')
              span Femme
        .form-group
          .col-sm-offset-3.col-sm-9
            br
            button#profile_send.btn.btn-success(type='submit') Enregistrer les modifications
            button#update_profile_loading.btn.loading-btn
              span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
              |  Chargement...  

    // Fenêtre modale modification mot de passe
    #update-password-modal.modal.fade(role='dialog')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Modification du mot de passe
          .modal-body
            #password-alert
            form.form-horizontal(role='form', ng-submit='updatePassword()')
              .form-group
                label.col-sm-3.control-label(for='signup_password') Ancien mot de passe
                .col-sm-9
                  input#signup_password.form-control(type='password', placeholder='Ancien mot de passe', ng-model='passwords.oldPassword')
                  br
              .form-group
                label.col-sm-3.control-label(for='signup_password_confirmation') Nouveau mot de passe
                .col-sm-9
                  input#signup_password.form-control(type='password', placeholder='Nouveau mot de passe', ng-model='passwords.newPassword')
                  br
              .form-group
                label.col-sm-3.control-label(for='signup_password_confirmation') Confirmation
                .col-sm-9
                  input#signup_password.form-control(type='password', placeholder='Confirmation du mot de passe', ng-model='newPassword_confirmation')
                  br
              .form-group
                .col-sm-offset-3.col-sm-9
                  button.btn.btn-success(type='submit') Connexion

  script(src='/javascripts/update_profile.js')