container
  form.form-horizontal(role='form', ng-submit='signup()')
    // Nom
    .form-group
      label.col-sm-2.control-label(for='signup_name') Nom
      .col-sm-4
        input#signup_name.form-control(type='text', placeholder='Nom', ng-model='signup_form.name')
    // Email
    .form-group
      label.col-sm-2.control-label(for='signup_email') E-mail
      .col-sm-4
        input#signup_email.form-control(type='email', placeholder='E-mail', ng-model='signup_form.email')
    // Mot de passe
    .form-group
      label.col-sm-2.control-label(for='signup_password') Mot de passe
      .col-sm-4
        input#signup_password.form-control(type='password', placeholder='Mot de passe', ng-model='signup_form.password')
    // Submit
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-success(type='submit') S'inscrire